
.head{
    background-color: rgb(255, 145, 0);
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    color: white;
}
.text
{
    color: white;
    margin:  auto;
    display: flex;
}
.logo{
    display: flex;
    margin: auto;
    margin-right: 10px;
   

}
.img{
    margin:auto;
}
.info{
    margin-top: 30px;
    background-color: rgb(255, 145, 0);
     border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 22px;
  text-align: justify;
 
  
}
.imginfo{
    
    margin-left: 20px;
    margin-top: 20px;
    
    
  
}
.contact{
     background-color: rgb(255, 145, 0);
     border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: 20px;
  display: flex;
}
.nav{
    margin-right: 10px;
}
.menu{
   
}
.menu ul{
    display: flex;
    list-style-type: none;
   
}
.menu ul li a{
    
    margin-left: 20px;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: blue;
}
.menu ul li :hover{
    color: yellow;
}
.dev img{
    
    justify-content: center;
}
.slider{
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.slider-track{
    
    display: flex;
    align-items: center;
    flex-shrink: 0;
   
}
.slide{
    
    width: 250px;
    border-radius: 20px;
    border:1px solid #ccc;
    overflow: hidden;
    margin-right: 50px;
}
.card-image{
    
    width: 250px;
    height: 250px;
}
.card-image img{
   display: block;
   object-fit: cover;
   object-position: center;
   width: 100%;
   height: 100%;
}
.sliderbody{
   
  margin-top: 20px;
    display: flex;

}
.tex-image{
    background-color: rgb(255, 145, 0);
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    padding: 20px;
}
.slide:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.contactpage{
     background-color: rgb(255, 145, 0);
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    padding: 20px;
   
}
.contactpage ul li a{
     margin-left: 20px;
    font-weight: 700;
    font-size: 26px;
     text-decoration: none;
     
}
.contactpage ul{
    list-style-type: none;
    margin-top: 20px;
}
.container3{
    display: flex;
    
}
.container{
    margin-top: 20px;
    margin-left: 20px;
     background-color: rgb(255, 145, 0);
     border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  color: white;
text-align: center;

}
.product{
    padding-bottom: 10px;
}
.product a button{
    width: 200px;
    height: 50px;
    color: white;
    background-color: blue;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
     border-radius: 10px;
}
.product a button:hover{
    transform: scale(1.2);
    color: yellow;
}
.product img{
     box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
     border-radius: 10px;
}



