.head{
    background-color: rgb(255, 145, 0);
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    color: white;
}
.text
{
    color: white;
    margin: 0 auto;
    display: flex;
}
.logo{
    display: flex;
    margin-top: auto;
    margin-right: 10px;
   

}
.img{
    margin-top: 20px;
}
