
.head{
    background-color: rgb(255, 145, 0);
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    color: white;
}
.text
{
    color: white;
    margin:  auto;
    display: flex;
}
.logo{
    display: flex;
    margin: auto;
    margin-right: 10px;
   

}
.img{
    margin:auto;
}
.info{
    margin-top: 30px;
    background-color: rgb(255, 145, 0);
     border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 22px;
  text-align: justify;
 
  
}
.imginfo{
    
    margin-left: 20px;
    margin-top: 20px;
    
    
  
}
.contact{
     background-color: rgb(255, 145, 0);
     border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  color: white;
  
  display: flex;
}
.nav{
    margin-right: 10px;
}
.menu{
   
}
.menu ul{
    display: flex;
    list-style-type: none;
   
}
.menu ul li a{
    
    margin-left: 20px;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: blue;
}
.menu ul li :hover{
    color: yellow;
}
.dev img{
    
    justify-content: center;
}


